/*основной цвет текста #212121;
цвет лого #000000;
цвет лого и нав #2196F3;
цвет абзаца #757575;
цвет адрес rgba(255, 255, 255, 0.6);
цвет адрес #FFFFFF;
цвет подвала #2F303A
*/
body {
  background-color: #e5e5e5;
  color: #212121;
}

.list {
  list-style: none;
}

.site-nav .link:hover,
.link:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196f3;
  text-decoration: none;
}

.site-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

.button-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
}

.button-link:focus,
.button-link:hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #2196f3;
}
.full-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: black;
  text-decoration: none;
}

.full-logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

.web-logo {
  color: #2196f3;
}

.contact {
  color: #757575;
}

.contact-mailto {
  text-decoration: none;
}

.contact-tel {
  text-decoration: none;
}

.contact {
  color: #757575;
}

.bottom-part {
  background-color: #2f303a;
}

.examples h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.examples p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.address-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
}

.buttons {
  color: #f5f4fa;
}

.buttons:hover,
.buttons:focus {
  color: #2196f3;
}
