body {
  font-family: Roboto;
  font-style: normal;
  background-color: #e5e5e5;
  color: #212121;
}

.list {
  list-style: none;
}

.site-nav .link:hover,
.link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196f3;
  text-decoration: none;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #757575;
  text-decoration: none;
}

.button-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  background: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
}

.button-link:focus,
.button-link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
}

.hero-button-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.full-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: black;
  text-decoration: none;
}

.full-logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

.web-logo {
  color: #2196f3;
}

.bottom-part {
  background-color: #2f303a;
}

.examples h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.examples p,
.team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.details h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.details p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #2196f3;
}

.address-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
}

.hero-section {
  background-color: #2f303a;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.doing {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
